@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat-regular";
  src: url("../../public/fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "montserrat-medium";
  src: url("../../public/fonts/montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../../public/fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "montserrat-extrabold";
  src: url("../../public/fonts/montserrat/Montserrat-ExtraBold.ttf");
}

html {
  scroll-behavior: smooth;
}

* {
  @apply text-cs-xs xl:text-cs-sm font-montserrat-regular;
}

h1 {
  @apply text-cs-2xl xl:text-cs-3xl font-montserrat-bold;
}

h2 {
  @apply text-cs-xl xl:text-cs-2xl font-montserrat-bold;
}

h3 {
  @apply text-cs-lg xl:text-cs-xl font-montserrat-bold;
}

h4 {
  @apply text-cs-md xl:text-cs-lg font-montserrat-bold;
}

h5 {
  @apply text-cs-sm xl:text-cs-md font-montserrat-bold;
}

// Custom Swiper
// make same height all slider
.unit-carousel .swiper-slide {
  height: 100% !important;
}
.unit-carousel.swiper {
  @apply px-14;
}
